/* .navbar li .glyphicon {
  margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:hover,
.navbar .navbar-nav .active a:focus {
  background-image: none;
  background-color: #4189c7;
  color: white;
}

@media (min-width: 768px) {
  .navbar {
    height: 100%;
    width: 100%;
  }
  .navbar {
    border-radius: 0;
    border-width: 0;
    height: 100%;
  }

  .navbar .navbar-collapse {
    border-top: 1px solid #444;
    padding: 0;
  }
}
